  <header>
    <h1 class="header-title">Sistema Escolar Unificado</h1>
  </header>
  <main>
    <div class="form">
      <div class="formContent">
        <header class="formHeader">
          <h2>{{isEditing ? "Editar Aluno" : "Cadastrar Aluno"}}</h2>
        </header>
        <form (submit)="save()" [formGroup]="formStudent" class="inputs">
          <input formControlName="name" type="text" data-index="new" class="formField" placeholder="Nome do Aluno" required>
          <input formControlName="email" type="email" class="formField" placeholder="E-mail do Aluno" required>
          <input formControlName="matriculation" type="text" class="formField" placeholder="Matrícula do Aluno" required>
          <input formControlName="school" type="text" class="formField" placeholder="Escola do Aluno" required>
          <input formControlName="average" type="number" class="formField" placeholder="Média Final" required>
          <button type="submit" class="button green">Salvar</button>
          <button type="reset" class="button blue">Cancelar</button>
        </form>
      </div>
    </div>
    <table id="tableStudent" class="records">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Matrícula</th>
          <th>Escola</th>
          <th>Média Final</th>
          <th>Resultado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students;let i = index">
          <td>{{student.name}}</td>
          <td>{{student.email}}</td>
          <td>{{student.matriculation}}</td>
          <td>{{student.school}}</td>
          <td>{{student.average}}</td>
          <td>{{average >=7 ? "Aprovado" : "Reprovado"}}</td>
          <td>
            <button (click)="toggleEdit(student, i)" type="button" class="button blue">Editar</button>
            <button (click)="delete(i)" type="button" class="button red">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
